body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    /*background: linear-gradient(to right,#3b78f2,#efa00c);*/
    background: linear-gradient(to right,#263248,#56482c);
}

header, section, footer {
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

h1 {
    color: royalblue;
}
header {
    margin: 0;
    color: #fff;
    text-align: center;
    padding: 20px;
    background: linear-gradient(to right,#263248,#56482c);

}

section {
    border-radius: 5px;
    position: relative;
}

#About,#Skills,#Projects,#resume,#contact,#next,#social,#copy {
    padding: 20px;
    background: linear-gradient(to right,#263248,#56482c);
    color: #f4f4f4;
    text-decoration: none;
}

img {
    max-width: 100%;
    border-radius: 50%;
}

ul {
    list-style-type: none;
    padding: 0;
}

#Projects {
    margin-bottom: 20px;
}

footer {
    /*background: rgba(51, 51, 51, 0.8);*/
    background: linear-gradient(to right,#263248,#56482c);
    color: #fff;
    text-align: center;
    padding: 20px;
}

button {
    background: linear-gradient(to right,#3b78f2,#efa00c);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

h3 {
    color: #3b78f2;
}